@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* #### START HEADER #### */
.header {
    display: flex;
}

.titleText {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Work Sans', sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
}

.functions {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
}
/* Underline .titleText on hover */
.titleText:hover {
    text-decoration: underline;
}

.headerChild {
    width: 100%;
}

.headerButton {
    height: 40px;
    width: 115px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.281);
}

.buttonHolder {
    width: fit-content;
    height: fit-content;
    transform: translateY(50%);
    margin-left: auto;
    margin-right: 10%;
}

.optionsHolder {
    width: fit-content;
    height: fit-content;
    transform: translateY(75%);
    margin-right: auto;
    margin-left: 10%;
}

.headerButton, a {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}
/* #### END HEADER #### */

/* Make .headerOptions a horrizontal list. It's tagname is ul. Make a 10px space in between each one. */
.headerOptions {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.headerOption {
    margin-left: 5px;
    margin-right: 5px;
}

/* #### START SLIDEDECK #### */
.slideDeck {
    margin-top: 40px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
    max-width: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    overflow-x: scroll;
}

.slideContainer {
    /* Left as Calc just incase I need to add more properties. */
    /* Currently 107 is just the size of an example slide. */
    height: calc(107px);
    display: flex;
    width: fit-content;
    min-width: 100%;
    /* overflow-x: scroll; */
}

.slide {
    width: 192px;
    height: 107px;
    background-color: white;
    background-size: cover;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

.slideNumber {
    float: left;
    padding-left: 5px;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}

.hide {
    width: 32px;
    height: 32px;
    float: right;
    padding-right: 5px;
    /* Turn to pointer on hover */
    cursor: pointer;
}

/* #### END SLIDEDECK #### */

/* #### START EDITOR #### */
.editor {
    background-color: rgba(0, 0, 0, 0.24);
    width: 100vw;
    height: calc(100vh - 167px - 40px - 37px);
}

.canvasFrame {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(6%);
}

/* Default Powerpoint slide Width & Height */
.canvas {
    width: 1056px;
    height: 642px;
    background-color: white;
    overflow: hidden;
}

/* #### STOP EDITOR #### */

/* #### START PRESENTATION #### */
.slideshowRootDiv {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.918);
    z-index: 9999;
    position: absolute;
    left: 0px;
    top: 0px;
}

.slideshowCanvas {
    /* width: 0px;
    height: 0px; */
    width: 1056px;
    height: 642px;

    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.presentationNumber {
    font-family: 'Work Sans', sans-serif;
    float: bottom;
    margin-bottom: 16px;
    margin-left: 16px;
    color: rgb(63, 59, 59);
}

/* Semantics! because I want it to look ✨perty✨*/
/* These make the cursor change to a pointer for clickable elements. */
.headerOption:hover {
    cursor: pointer;
}

.headerButton:hover {
    cursor: pointer;
}